# Firebase
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Environment files
.env
.env.*

# Gradle
.gradle/
**/.gradle/

# Local config
/local.properties

# Build
build/
.dart_tool/

# Keystores
key.properties
**/*.keystore
**/*.jks

# IDE
.idea/
.vscode/

# C/C++
.cxx/

/android/app/google-services.json